@charset "utf-8";
#chatframe {
    display: flex;
    color: cadetblue;
} 
.sender {
    flex: auto;
    color: rgb(10, 12, 11);
    font-size: medium;
}
.message {
    flex: auto;
    font-size: x-large;
}
.stime {
    flex: auto;
    font-size: xx-small;
}