{% extends "im/base.html" %}

{% block content %}


<div style="padding: 5px 5px 5px;">
    
        <div class="input-groups">
            <input maxlength="80" name="message" type="text" class="form-control" placeholder="消息发送" id='inpumessage'>
            <input maxlength="80" name="sender" type="text" style="display: none;" placeholder="消息发送" value='t2' id='inpusender'>  
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="post_message()" value="Submit" id='bugo'>
                    Go!
                </button>
                <p onclick=""></p>
            </span>
        </div>

</div>
<!-- <div id='chatframe'> 
    <p>room</p>

    <ul>
        <li id='nothing' style="display: none;">~~~</li>
    </ul>
</div> -->

<div id='chatframe'> 
    <div id='group'>
        <p>group</p>

        <ul>
            <li id='gnothing' style="display: none;">~~~</li>
        </ul>
    </div>
    <div id='user'>
        <p>user</p>
        <ul>
            <li id='unothing' style="display: none;">~~~</li>
        </ul>
    </div>
</div>


<script type=text/javascript> //获取群组消息
    $(function(){
        var int=self.setInterval("clock()",2000);
    });
    function clock() {
        var gj = $.getJSON('/imapi/total/', {}, function(data) {
            // 群聊情况
            var li = $('#group>ul>li');
            li.remove(); // 所有<li>全被删除
            chat = $("#group>ul"); //聊天内容
            console.log('ok',data);
            gm = data.groupmessage;
            for(var i=0, len=gm.length; i<len; i++){
                var s = '<span class="sender"> ' + gm[i].sender + '</span>' + '<span class="message">' + gm[i].message + '</span>' + '<span class="stime">' + gm[i].timeg + gm[i].groupname + '</span>'
                chat.append('<li>' + s + '</li>');
            };
            // 私聊情况
            var li2 = $('#user>ul>li');
            li2.remove();
            chat2 = $('#user>ul');
            us = data.users
            for (var i=0, len=us.length; i<len; i++){
                chat2.append('<li>' + us[i].username + '</li>')
            };
            
        });
        return false;
        console.log('请求失败')
        };
</script>

<script> // 发送群消息
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    function post_message(){
        var csrftoken = getCookie('csrftoken'); // csrf
        console.log(csrftoken)
        var messageinput = document.getElementById("inpumessage");
        var message = messageinput.value; //获取输入框内容
        var sender = document.getElementById("username").innerHTML; // 获取网页内容
        console.log(sender, message)
        $.ajax({
            type: "POST",
            url: '/imapi/groupmessage/',
            data: {'message':message,'sender':sender},
            headers:{"X-CSRFToken": csrftoken},
            success: function (newEnd) {
                console.log(newEnd);
            },
            error: function () {
                alert("There was an error")
            }
            });
        messageinput.value = "" //清空输入框
    }        
</script>

{% endblock %}