{% extends "im/base.html" %}

{% block content %}


<div id="container">
    <aside id='user_list'> 
        <!-- 联系人名单 -->
        <header>
            <input type="text" placeholder="search">
        </header>
        <ul id="username_list">
            <li style="display: none;">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
                <div>
                    <h2>firstrooom</h2>
                    <h3>
                        <span class="status orange"></span>
                        offline
                    </h3>
                </div>
            </li>
            <li style="display: none;">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_02.jpg" alt="">
                <div>
                    <h2>你是谁</h2>
                    <h3>
                        <span class="status green"></span>
                        online
                    </h3>
                </div>
            </li>
        
        </ul>
    </aside>
    <main id="main">
        <header>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="">
            <div>
                <h2>{{ user.username }}</h2>
                <h3>just a test</h3>
            </div>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_star.png" alt="">
        </header>
        <ul id="chat">
            <li class="you" style="display: none;">
                <div class="entete">
                    <span class="status green"></span>
                    <h2>Vincent</h2>
                    <h3>10:12AM, Today</h3>
                </div>
                <div class="triangle"></div>
                <div class="message">
                    你是谁啊
                </div>
            </li>
            <li class="me" style="display: none;">
                <div class="entete">
                    <h3>10:12AM, Today</h3>
                    <h2>Vincent</h2>
                    <span class="status blue"></span>
                </div>
                <div class="triangle"></div>
                <div class="message">
                    我怎么知道呢？
                </div>
            </li>
        </ul>
        <footer>
            <textarea placeholder="Type your message" id='inpumessage'></textarea>
            <input maxlength="80" name="sender" type="text" style="display: none;" placeholder="消息发送" value='t2'> 
            <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_picture.png" alt="">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_file.png" alt=""> -->
            <button name="sender" onclick="post_message()">Send</button>
        </footer>
    </main>
</div>

<!-- 消息更新 -->
<script type=text/javascript> //获取群组消息
$(function(){
    var int=self.setInterval("clock()",2000);
});
localStorage.gms = 0;
localStorage.gme = 0;
localStorage.ums = 0;
localStorage.ume = 0;
localStorage.user = 'a';
localStorage.me = 'a';

function compare(p){ //这是比较函数
    return function(m,n){
        var a = m[p];
        var b = n[p];
        return a - b; //升序
    }
}

function clock() {
    var gj = $.getJSON('/imapi/total/', {}, function(data) {
        //获取点击的用户
        var li3 = $('#user_list>ul>li');
        var ulist = []
        for(var i=0, len=li3.length; i<len; i++){
            liid = li3[i].getAttribute("id")
            ulist.push(liid)
        }
        console.log('ulist',ulist) // 用户列表
        // 获取用户名
        var sender = document.getElementById("username").innerHTML; // 获取网页内容
        // console.log(sender)

        //聊天信息比较
        // 群聊情况
        var ac = $('#username_list>li.activate'); //激活用户
        if(ac[0]!=null){//第一次获取不到，所以忽略第一次
            var who = ac[0].getAttribute("id"); // 获取当前选择用户
            console.log('激活用户',who);
            console.log('ok',data);
            gm = data.groupmessage;
            // 用户信息预备 1
            var uml = [];
            if(who != 'first'){
                um = data.usermessage;
                var s1 = who + ' -> ' + sender;
                var s2 = sender + ' -> ' + who;
                console.log(s1, s2, um[s1], um[s2]);
                if(um[s1] != undefined){
                    for(var i=0, len=um[s1].length; i<len; i++){
                        uml.push(um[s1][i])
                    }
                }
                if(um[s2] != undefined){
                    for(var i=0, len=um[s2].length; i<len; i++){
                        uml.push(um[s2][i])
                    }
                }
                uml.sort(compare("pk"));
                console.log('用户信息',uml);
            }
            //判断激活群组 1
            if (who==="first" && localStorage.user != who | localStorage.gms != gm[gm.length-1].pk | localStorage.gme != gm[0].pk){
                var li = $('#main>ul>li');
                li.remove(); // 所有<li>全被删除
                chat = $("#main>ul"); //聊天内容
                localStorage.user = who
                localStorage.gms = gm[gm.length-1].pk 
                localStorage.gme = gm[0].pk
                console.log('群组开始',localStorage.gms,'结束',localStorage.gme) 
                for(var i=0, len=gm.length; i<len; i++){
                    var i2 = len - i - 1
                    var sendtime = '<h3>'+ gm[i2].timeg.substring(0,19) +'</h3>'
                    var senduser = ' <h2>' + gm[i2].sender + '</h2>'
                    var sendmessage = '<div class="message">' + gm[i2].message + '</div>'
                    if(gm[i2].sender===sender){
                        var s = '<li class="me"> <div class="entete"> <span class="status blue"></span>' + senduser + sendtime + '</div> <div class="triangle"></div>' + sendmessage + '</li>'
                    }else{
                        var s = '<li class="you"> <div class="entete"> <span class="status green"></span>' + senduser + sendtime + '</div> <div class="triangle"></div>' + sendmessage + '</li>'
                    }
                    chat.append(s);
                };
                //聊天页面自动滚动到最底部
                var d=$("#chat");
                d[0].scrollTop = d[0].scrollHeight;

            // 用户信息 2
            }else if(who != 'first' && uml.length === 0) {
                localStorage.user = who
                var li = $('#main>ul>li');
                li.remove(); // 所有<li>全被删除
                console.log('无对话')
            }else if(who != 'first' && who != localStorage.user | localStorage.ums != uml[uml.length-1].pk | localStorage.ume != uml[0].pk){
                //相同操作
                var li = $('#main>ul>li');
                li.remove(); // 所有<li>全被删除
                chat = $("#main>ul"); //聊天内容
                localStorage.ums = uml[uml.length-1].pk 
                localStorage.ume = uml[0].pk
                localStorage.user = who
                console.log(localStorage.user,'用户开始',localStorage.ums,'结束',localStorage.ume) 
                for(var i=0, len=uml.length; i<len; i++){
                    var i2 = i
                    var sendtime = '<h3>'+ uml[i2].timeu.substring(0,19) +'</h3>'
                    var senduser = ' <h2>' + uml[i2].sender + '</h2>'
                    var sendmessage = '<div class="message">' + uml[i2].message + '</div>'
                    if(uml[i2].sender===sender){
                        var s = '<li class="me"> <div class="entete"> <span class="status blue"></span>' + senduser + sendtime + '</div> <div class="triangle"></div>' + sendmessage + '</li>'
                    }else{
                        var s = '<li class="you"> <div class="entete"> <span class="status green"></span>' + senduser + sendtime + '</div> <div class="triangle"></div>' + sendmessage + '</li>'
                    }
                    chat.append(s);
                };
                //聊天页面自动滚动到最底部
                var d=$("#chat");
                d[0].scrollTop = d[0].scrollHeight;
            } else {
                console.log('暂无操作')
            };
        }
        
        
        
        // 用户列表
        us = data.users
        ulist2 = ['first']
        for (var i=0, len=us.length; i<len; i++){
            ulist2.push(us[i].username);
        }
        console.log('ulist2',ulist2);
        //比较用户是否相同，不变则不修改
        if (ulist.toString() === ulist2.toString()){ //不变
            console.log('登录用户没变？',ulist.toString() === ulist2.toString())
        }else{
            var li2 = $('#user_list>ul>li');
            li2.remove();
            chat2 = $('#user_list>ul');
            var sb = '<li id="first" class="activate"> <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="avatar"> <div>  <h2>';
            var sh = '</h2> <h3> <span class="status green"></span> online </h3> </div> </li>';
            chat2.append(sb + 'first' + sh);
            for (var i=0, len=us.length; i<len; i++){//隐藏用户自己的名字
                if(us[i].username != sender){
                    var sb = '<li id="' + us[i].username + '"> <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="avatar"> <div>  <h2>';
                    var sq = sb + us[i].username + sh;
                    chat2.append(sq);
                }else{
                    var sb = '<li style="display: none;" id="' + us[i].username + '"> <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/chat_avatar_01.jpg" alt="avatar"> <div>  <h2>';
                    var sq = sb + us[i].username + sh;
                    chat2.append(sq);
                }
                
            };
        }
    });
    return false;
    console.log('请求失败')
    };
function showm(ac, chioce) {
    // 删除原先的聊天数据
    var li = $('#main>ul>li');
    li.remove(); // 所有<li>全被删除
}
</script>

<script> //点击改变聊天对象颜色
document.getElementById("username_list").addEventListener("click", someFunction);
function someFunction(event) {
    var user =  document.getElementById(event.target.id);
    if(user != null && event.target.id != "username_list"){
        var li3 = $('#user_list>ul>li');
        for(var i=0, len=li3.length; i<len; i++){
            li3[i].setAttribute("class", "deactivate");
        }
        console.log(event.target.id);
        
        user.setAttribute("class", "activate");
        console.log(user);
        }
}
</script>

<!-- 消息发送 -->
<script> // 发送群消息
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function post_message(){
    // 信息预备，发送者及接收者
    // 发送方 获取用户名
    var sender = document.getElementById("username").innerHTML; // 获取网页内容
    // 接收方
    var ac = $('#username_list>li.activate'); //激活用户
    if(ac[0]!=null){//第一次获取不到，所以忽略第一次
        var who = ac[0].getAttribute("id"); // 获取当前选择用户
    }
    // csrftoken
    var csrftoken = getCookie('csrftoken'); // csrf
    console.log(csrftoken)
    var messageinput = document.getElementById("inpumessage");
    var message = messageinput.value; //获取输入框内容
    console.log(sender, message)
    if(ac[0]!=null && who === 'first'){
        $.ajax({
            type: "POST",
            url: '/imapi/groupmessage/',
            data: {'message':message,'sender':sender},
            headers:{"X-CSRFToken": csrftoken},
            success: function (newEnd) {
                console.log(newEnd);
            },
            error: function () {
                alert("There was an error, please try again!")
            }
            });
    }else{
        $.ajax({
            type: "POST",
            url: '/imapi/usermessage/',
            data: {'message':message,'sender':sender,'to':who},
            headers:{"X-CSRFToken": csrftoken},
            success: function (newEnd) {
                console.log(newEnd);
            },
            error: function () {
                alert("There was an error, please try again!")
            }
            });
    }  
    
    messageinput.value = "" //清空输入框
}        
</script>

{% endblock %}